@import "./normalize.css";

:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8198 ;
  --color-background: #fff ;
  --font-size: 14px;
  --line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helveti;
  user-select: none;  /* 禁止用户在页面上选中文字/图片eg */
  -webkit-tap-highlight-color: transparent;
  /* tap -> click   highlight -> 背景高亮 */
  background: var(--color-background);
  color: var(--color-text);
  width: 100vw;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.clearfix{
  *zoom: 1;
}
.clearfix:after,
.clearfix:before{
  content: "";
  display: table;
}
.clearfix:after{
  clear: both;
}

.left {
  float: left;
}
.right {
  float: right;
}